<%- include('../../partsadminFOFF/top')%>
  <!-- Sidebar -->
  <%- include('../../partsadminFOFF/sidebar') %>
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div style="background-color: #000000; border-color: #000000;" id="content">
        <!-- TopBar -->
        <%- include('../../partsadminFOFF/navbar')%>
          <!-- Topbar -->

          <!-- Container Fluid-->
          <div class="container-fluid" id="container-wrapper">
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
              <h1 class="h3 mb-0 text-gray-100">Tous le Financement</h1>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Acceuil</a></li>
                <li class="breadcrumb-item active text-gray-100" aria-current="page">Tous le Financement</li>
              </ol>
            </div>

            <!-- Row -->
            <div class="row">
              <!-- DataTable with Hover -->
              <div class="col-lg-12">
                <div class="card mb-4">
                  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Tous le Financement avec survol</h6>
                  </div>
                  <div class="table-responsive p-3">
                    <table class="table align-items-center table-flush table-hover" id="dataTableHover">
                      <thead class="thead-light">
                        <tr>
                          <th>Cod_ISIN</th>
                          <th>Date_Début</th>
                          <th>Type_Bon</th>
                          <th>Date_écheance</th>
                          <th>Code_Soumissionaire</th>
                          <th>Montant_Proposé_Par_l'état</th>
                          <th>Montant_Proposé_Par_le_Soumissionaire</th>
                          <th>Montant_Adjugé</th>
                          <th>Montant_Coupoun</th>
                        </tr>
                      </thead>
                      <tfoot>
                        <tr>
                          <th>Cod_ISIN</th>
                          <th>Date_Début</th>
                          <th>Type_Bon</th>
                          <th>Date_écheance</th>
                          <th>Code_Soumissionaire</th>
                          <th>Montant_Proposé_Par_l'état</th>
                          <th>Montant_Proposé_Par_le_Soumissionaire</th>
                          <th>Montant_Adjugé</th>
                          <th>Montant_Coupoun</th>
                        </tr>
                      </tfoot>
                      <tbody>
                        <% for (let i=0; i < Dettes.length - 1; i++) { %>
                          <% const dette=Dettes[i]; %>
                            <tr>
                              <th>
                                <%= dette.codeISIN%>
                              </th>
                              <th>
                                <%= dette.DateDeb%>
                              </th>
                              <th>
                                <%= dette.DureeBon%>
                              </th>
                              <th>
                                <%= dette.DateEcheance%>
                              </th>
                              <th>
                                <%= dette.CodeSoumissionaire%>
                              </th>
                              <th>
                                <%= dette.MontantProposeParEtat%>
                              </th>
                              <th>
                                <%= dette.MontantProposeParSoumissionaire%>
                              </th>
                              <th>
                                <%= dette.MontantAdjuge%>
                              </th>
                              <th>
                                <%= dette.MontantCoupoun%>
                              </th>
                            </tr>
                            <%}%>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!--Row-->

            <!-- Documentation Link -->
            <div class="row">
              <div class="col-lg-12">
              </div>
            </div>


          </div>
          <%- include('../../partsadminFOFF/footer')%>
            <!---Container Fluid-->
      </div>
      <!-- Footer -->
    </div>

    </div>

    <%- include('../../partsadminFOFF/bottomReel')%>