<%- include('../partsUserDepenses/top')%>
    <!-- Sidebar -->
    <%- include('../partsUserDepenses/sidebar')%>
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div style="background-color: #000000; border-color: #000000;" id="content">
        <!-- TopBar -->
        <%- include('../partsUserDepenses/navbar')%>
        <!-- Topbar -->

        <!-- Container Fluid-->
        <div id="charts-container">
          <div id="Reel_table_div"  class="chart-container" data-objects='<%- JSON.stringify(objects) %>'></div>
          <div id="Prev_table_div"  class="chart-container" data-objects='<%- JSON.stringify(objectsPrevu) %>'></div>
        </div>

        <hr> <!-- Ligne horizontale entre les deux rangées de diagrammes -->
        <div id="charts-container">
          <div class="chart-container" id="chart_histograme_1" data-objects='<%- JSON.stringify(objects) %>'></div>
          <div class="chart-container" id="chart_histograme_2" data-objects='<%- JSON.stringify(objectsPrevu) %>'></div>
        </div>
      <!---Container Fluid-->
      </div>
      <!-- Footer -->
      <%- include('../partsUserDepenses/footer')%>
      <!-- Footer -->
    </div>
  </div>

  <%- include('../partsUserDepenses/bottomPrevu')%>