<%- include('../partsadminBOff/top')%>
    <!-- Sidebar -->
    <%- include('../partsadminBOff/sidebar')%>
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div style="background-color: #000000; border-color: #000000;" id="content">
        <!-- TopBar -->
        <%- include('../partsadminBOff/navbar')%>
        <!-- Topbar -->

        <!-- Container Fluid-->
        <!-- Div pour afficher le diagramme -->
    <div id="myDiagram" style="transform: translateX(15px);background-color: white;"></div>
        <!---Container Fluid-->
      </div>
      <!-- Footer -->
      <%- include('../partsadminBOff/footer')%>
      <!-- Footer -->
    </div>
  </div>

  <%- include('../partsadminBOff/bottom')%>